h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--background-light);
}

.chart-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}
