.user-sensor-hub {
    width: 100vw;
    overflow-x: hidden;
}

.dash-title {
    margin-top: 10vh;
    margin-left: 2em;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--background-light);
}

h2 {
    font-size: 1.5em;
    font-weight: 600; 
}

.underline {
    border-bottom: 4px solid var(--secondary-color-light);
}

table {
    text-align: left;
    margin: auto;
    width: 98%; 
}

th {
    font-weight: 500;
    border-bottom: 2px solid var(--background-secondary-dark);
}

tr {
    font-size: 1em;
}

th:nth-child(1), td:nth-child(1){
    width: 75%;
}